@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* Universal */
* {
  /* Sort out the padding margins for width*/
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  /* Layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Height needed for Flexbox Settings to work */
  overflow: hidden; /* No Scroll Bar*/

  margin: 0;
}
